doc/html/*.*
doc/xml/*
naturald/*
temp/*
dist/Thumbs.db
doc/*
dist/Debug/*.pdb
dist/Debug/*.ilk
code-design/resolution-test/*.png
dist/Debug/pwn-*
dist/Release/pwn-*
dist/*.mesh
dist/*/*.anim
dist/alien_chamber/*
dist/-Debug/*
dist/-Release/*
dist/build/*
build/*
dist/sphere-o.txt
dist/sphere.an8
dist/sphere.mtl
dist/sphere.obj
dist/sphere.txt
dist/sphere/ground3.jpg
dist/an8.an8
dist/dwarf1.txt
dist/posable_guy.an8

# ide files
.vscode
